.nav tbody tr td {
  width: 118px;
  border-spacing: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.nav {
  border-spacing: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #326897;
}

.submenu1,
.submenu2,
.submenu3,
.submenu4 {
  position: absolute;
  margin-left: 0px;
  text-align: left;
  margin-top: -5px;
  background-color: #336799;
}
